<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="methods" thread-count="5">
<listeners>
<listener class-name="ExtentReportUtillity.ExtentListenerClass"></listener>
</listeners>

  <test name="Test Grammerly On Chrome">
  <parameter name="browser" value="chrome"/>
    <classes>
     <class name="TestClass.TestProp"/>
    </classes>
    </test> 
   <test name="Test Grammerly On Safari">
      <parameter name="browser" value="safari"/>
    <classes>
       <class name="TestClass.TestProp"/> 
    </classes>
    
  </test> 

    This is an XML comment 
  <test name="Test Grammerly On Firefox">
      <parameter name="browser" value="firefox"/>
    <classes>
       <class name="TestClass.TestProp"/> 
    </classes>
  </test> 
<!-- Test-->
</suite> 